.edge-chat {
  font-family: "Lato";

  .wrapper {
    position: fixed;
    bottom: 0;
    right: 15px;

    .trigger {
      background: blue;
      padding: 5px 15px;
      color: white;
      text-align: center;
    }
  }

  
}